{
  :mei {
        :spritesheet-width 864
        :spritesheet-height 256
        :tile-cols 17
        :tile-rows 8
        :tile-width 24
        :tile-height 32
        :frame-set-count nil
        :frames-count 136

        :frames [
                  :walk {
                          :up [0 3]
                          :right [17 20]
                          :down [34 37]
                          :left [51 54]
                         }
                 :run {
                        :up [4 6]
                        :right []
                        :down []
                        :left []
                        }
                 :jump {
                         :up []
                         :right []
                         :down []
                         :left []
                         }
                 :attack {}
                 ]
        }

 :items []

 :enemies []

 :allies []

 :levels []

 }
