{
  :mei {
        :spritesheet-width 864
        :spritesheet-height 256
        :tile-cols 17
        :tile-rows 8
        :tile-width 24
        :tile-height 32
        :frame-set-count nil
        :frames-count 136

        :frames {
                  :walk {
                          :up [[0 3] []]
                          :right []
                          :down []
                          :left []
                         }
                 :run {
                        :up []
                        :right []
                        :down []
                        :left []
                        }
                 :jump {
                         :up []
                         :right []
                         :down []
                         :left []
                         }
                 :attack {}
                 }
        }

 :items []

 :enemies []

 :allies []

 :levels []

 }
